
@font-face {
    font-family: Verdana;
    src: url('fonts/Verdana.ttf');
}
@font-face {
    font-family: Verdana;
    font-weight: bold;
    src: url('fonts/Verdana-Bold.ttf');
}
    
body {
    font-family: Verdana, sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}
.container {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
}
/* Меню */
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}
.menu__link {
    font-size: 13px;
    color: #001845;
}
.menu__link-tel{
    font-size: 18px;
    color: #004573;
}
.menu__link--activ:hover{
    color: #ff5a00;
}
.menu__link-tel--activ:hover {
    color: #ff5a00;
}
/* Контент header */
.header-content {
    background-color:#026689;
    height: 633px;
}
.block-foto {
    width: 355px;
}
.foto {
    height: 100%;
}
.foto-header {
    margin: 110px -200px;
}
.content-block {
    height: 633px;
    display: flex;
}
.content-text-logo {
    display: flex;
    flex-direction: column;
}
.content-text {
}
.content-text__item:nth-child(1) {
    margin-top: 225px;
}
.content-text__item:nth-child(2) {
    font-size: 56px;
    font-weight: bold;
    margin-top: 13px;
}
.content-text__item:nth-child(3) {
    margin-top: 22px;
}
.content-text__item:nth-child(4) {
    font-style: italic;
    margin-top: 67px;
    margin-bottom: 77px;
}
.content-text__item {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}
.logo-text {
    width: 436px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}
.logo-text__text {
    font-size: 16px;
    font-weight: bold;
}
.logo {
}
.logo__img {
}
.box-sale {
    display: flex;
}
.sale {
    height: 652px;
}
.foto-sale {
    margin-left: -480px;
}
.foto-bank {
    margin-left: -400px;
}
.foto-service {
    margin-left: -93px;
}
.info-text-form {
    width: 505px;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.sale-text:nth-child(1) {
    font-size: 26px;
    font-weight: bold;
    color: #004573;
    border: #f0622e dashed 2px;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 60px;
}
.sale-text:nth-child(2) {
    font-size: 14px;
    color: #004573;
    margin-top: 28px;
}
.sale-text:nth-child(3) {
    font-size: 14px;
    font-weight: bold;
    color: #004573;
}
.form {
    margin-top: 25px;
}
.form__name {
    display: flex;
    flex-direction: column;
}
.input-name {
    text-align: center;
    border: solid 2px #e4dfd1;
    margin-bottom: 20px;
}
.form-mail {
    display: flex;
    flex-direction: column;
}
.input-mail {
    text-align: center;
    border: solid 2px #e4dfd1;
    margin-bottom: 20px;
}
.input_tel {
    display: flex;
    justify-content: space-between;
}
.input_tel-1 {
}
.tel {
    text-align: center;
    border: solid 2px #e4dfd1;
}
.form__name-text {
    font-size: 14px;
    color: #004573;
}
.button {
    text-align: center;
}
.button-sale {
    margin-top: 30px;
}
.input-button {
    background-color: #004573;
    font-size: 19px;
    color: #fff;
    padding: 19px 30px;
    border-style: none;
}
.input_tel-2 {
  
}
.input_tel-3 {
    
}
#fon1 {
    width: 67px;
    height: 48px;
}
#fon2 {
    width: 97px;
    height: 48px;
}
#fon3 {
    width: 302px;
    height: 48px;
}
#mail {
    height: 48px;
}
#name {
    height: 48px;
}
.call {
    text-align: center;
    margin: 26px 0;  
}
.call__text {
    font-size: 11px;
    color: #80a3ba; 
}
.map-gps {
    width: 1920px;
    height: 630px;
    background-image: url(/image/map-gps.png);
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.map-info {
    width: 520px;
    height: 310px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-top: 83px;
    margin-left: 712px;
}
.map-text-gps {
    font-size: 38px;
    text-align: center;
    color: #fff;
    background-color: #004573;
    margin-top: 5px;
}
.map-text:nth-child(1) {
    font-size: 14px;
    color: #004573;
    text-align: center;
    margin: 13px 0 9px 0;
    list-style: none;
}
.map-text {
    font-size: 14px;
    color: #737373;
    margin: 3px 0;
    
}
.map-office {
    width: 1920px;
    height: 482px;
    background-image: url(/image/Отдел\ продаж.png);
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.buttom-capital {
    margin: 33px 0 57px;
}
.bisness {
   text-align: center;
}
.bisness-text:nth-child(1) {
    display: block;
    font-size: 28px;
    margin-top: 80px;
    color: #004573;
}
.bisness-text:nth-child(2) {
    display: block;
    font-size: 38px;
    font-weight: bold;
    color: #004573;
    margin-top: 17px;
    margin-bottom: 42px;
}
.struc {
    font-size: 38px;
    color: #004573;
}
.sreda {
    margin-top: 40px;
    text-align: center;
}
.str {
    margin-top: 75px;
    text-align: center;
}
.ramka{
    border-width: 2px;
    border-style: dashed;
    border-color: #f0622e;
    border-radius: 5px;
    font-size: 22px;
    color: #004573;
    padding: 10px 10px;
}
.block-logo {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.bl-l {
    height: 357px;
    width: 300px;
    background-color: #fcfcfc;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
    margin-top: 42px;
    font-size: 14px;
    color: #004573;
    text-align: center;
}
.ikon {
    width: 60px;
    height: 60px;
    background-color: #f0622e;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -40px;
    position: relative;
}
.fon-icon {
    margin: 0;
    margin-top: 25%;
}
.bl-text1{
    font-size: 20px;
    font-family: "Verdana";
    color: rgb(0, 69, 115);
    font-weight: bold;
}
.parcing {
    margin-top: 28px;
    margin-bottom: 25px;
}
.bl-text2 {
    font-size: 14px;
    font-family: "Verdana";
    color: rgb(0, 69, 115); 
}
.bank {
    margin-top: 60px;
}
.button-bank {
    margin-top: 30px;
}

.pl-dom {
    font-size: 38px;
    font-family: "Verdana";
    color: rgb(0, 69, 115);
    font-weight: bold;
    display: block;
    text-align: center;
    margin-top: 78px;
}
.block-plan {
    width: 450px;
    height: 330px;
    border: 2px #004573 dashed; 
    box-sizing: border-box;
    margin-top: 35px;      
}
.plan-text {
    font-size: 22px;
    font-weight: bold;
    background-color: #004573;
    color: rgb(255, 255, 255);
    height: 42px;
    text-align: center;
  }
  .block-ob {
    width: 940px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.pl-1 {
    height: 268px;
    width: 200px;
    font-size: 13px;
    color: #004573;
    text-align: center;   
  }
  .pl-2 {
    height: 268px;
    width: 200px;
    font-size: 13px;
    color: #004573;
    text-align: center;   
  }
  .button-downloand {
    background-color: #004573;
    font-size: 19px;
    color: #fff;
    padding: 19px 30px;
    border-style: none;
}
.plan1-1 {
    width: 446px;
    height: 285px;
    display: flex;
    justify-content: space-around;
}
.pl-image {
    height: 233px;
    width: 200px;
    margin-top: 25px;
}
.bck-block {
    margin-left: auto;
    margin-right: auto;
}
img {
    margin: 0;
}
.button-plan {
    margin-top: 50px;
}
.bb {
    font-size: 14px;
    text-align: center;
    color: #004573;
    margin-top: 24px;
    margin-bottom: 32px;
}
.bb1 {
    font-size: 16px;
    font-weight: bold;
    color: #004573;
    margin-left: 230px; 
}
.aaa {
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    color: #004573;
    margin-top: 168px;
    margin-bottom: 63px;
}
.bbbb {
    border-width: 2px;
    border-style: dashed;
    border-color: #004573;
    border-radius: 5px;
    font-size: 28px;
    text-align: center;
    width: 480px;
    padding: 19px 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
    margin-bottom: 32px;
}
.bb2 {
    font-size: 18px;
    font-weight: bold;
    color: #004573;
}

.bb3 {
    font-size: 38px;
    font-weight: bold;
    color: #004573;
}
.spec-predl {
    display: inline-block;
    background: #f16831;
    color: #fff;
    padding: 15px 53px;
    text-decoration: none;
    border-radius: 3px;
}
.spec {
    text-align: center;
}



.prigl {
    font-size: 38px;
        font-family: "Verdana";
        color: rgb(0, 69, 115);
        font-weight: bold;
        text-align: center;
        margin-top: 130px;
}
.button-prigl {
    background-color: #004573;
    width: 425px;
    height: 55px;
    margin-top: 55px;
}
.button-info {
    color: #ffffff;
    font-size: 19px;
}
.ramka2{
    border-width: 2px;
    border-style: dashed;
    border-color: #f0622e;
    border-radius: 5px;
    font-size: 22px;
    color: #004573;
    padding: 10px 10px;
    width: 700px;
    text-align: center;
    margin: 35px auto;
}
.logotip {
   display: flex;
   justify-content: space-around;
   text-align: center;
}
.bold16 {
    font-weight: bold;
    font-size: 16px;
    color: #004573;
}

.uslov1 {
    display: flex;
    margin-top: 30px;
    
    margin-left: 13%;
    text-align: left;
}
.uslov2 {
    display: flex;
    margin-top: 30px;
    
    margin-left: 42%;
    text-align: left;
}

.uslov3 {
    display: flex;
    margin-top: 30px;
    
    margin-left: 20%;
    text-align: left;
}
.uslov4 {
    display: flex;
    margin-top: 30px;
    
    margin-left: 42%;
    text-align: left;
}

.bold18 {
    font-size: 18px;
    font-weight: bold;
    color: #004573;
}

.reg13 {
    font-size: 13px;
    color: #004573;
}
.doc {
    display: flex;
    margin-top: 30px;
    margin-bottom: 50px;
}

.bold22 {
    font-size: 22px;
    font-weight: bold;
    color: #004573;
}
.reg14 {
    font-size: 14px;
    color: #001845;
}
.doc-text {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 35px;
    
}
.forecast__graphics {
    border-left: #004573 solid 2px;
    border-bottom: #004573 solid 2px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding-bottom: 12px;
    margin-top: 50px;
    text-align: center;
}
.worecast__data {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 50px;
}
.forecast__item-data {
    font-size: 13px;
    color: #004573;
}
.forecast__text {
    font-size: 13px;
    font-weight: bold;
    color: #004573;
    margin-bottom: 18px;
}
.button-remont {
    margin-top: 50px;
}
.button-cool {

}
.question-box {
}
.question {
    font-size: 52px;
    font-weight: bold;
    color: #004573;
}
.question-manager {
    font-size: 26px;
    color: #f15c2b;
    border-bottom: dashed 2px #f15c2b;
    width: 315px;
    display: block;
    margin: 0 auto;
}
.site {
    display: flex;
    justify-content: center;
    margin-bottom: 190px;
}
.s1 {
    font-size: 14px;
    font-weight: bold;
    color: #004573;
}
.s2 {
    font-size: 14px;
    font-weight: bold;
    color: #f0622e;
}
.s3 {
    font-size: 16px;
    color: #004573;
}
.footer {
    text-align: center;
}